apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  namespace: default
  labels:
    app: cart-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cart-service
  template:
    metadata:
      labels:
        app: cart-service
    spec:
      containers:
        - name: cart-service
          image: awodeyitobi/cart-service:latest
          ports:
            - containerPort: 3000
          imagePullPolicy: Always

